<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byType">

	<bean id="logger" class="com.javaspring.tutorial.Logger">

	</bean>


	<bean id="consoleWriter"
		class="com.javaspring.tutorial.ConsoleWriter" primary="true">
	</bean>

	<bean id="test1" class="com.javaspring.tutorial.ConsoleWriter">
	</bean>

	<bean id="fileWriter" class="com.javaspring.tutorial.FileWriter">
	</bean>

	<bean id="test2" class="com.javaspring.tutorial.FileWriter"
		autowire-candidate="false">
	</bean>

</beans>
