<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-init-method="init" default-destroy-method="destroy"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="basket" class="com.javaspring.tutorial.FruitBasket">

		<constructor-arg value="Mike's fruitbasket"></constructor-arg>
		<constructor-arg>
			<list>
				<value></value>
			</list>
		</constructor-arg>
	</bean>
</beans>

